<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div th:fragment="footer">
        <ul class="social-links">
            <li>
                Find Template Web App on <a href="https://github.com/nicodewet/template-web-app">Github</a>
            </li>
        </ul>
    </div>
</body>
</html>

