<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Template Web App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/1.11.1/jquery.min.js" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/core.css" th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header" ></div>

<script>
/*<![CDATA[*/
function collectFormData($fields) {
    var data = {};
    for (var i = 0; i < $fields.length; i++) {
        var item = $($fields[i]);
        data[item.attr("id")] = item.val();
    }
    return data;
}
$(document).ready(function() {
    var $form = $("form[name='subscribe-form']");
    $form.bind("submit", function(e) {
    	
   		$('.form-group').removeClass('has-error'); // remove the error class
		$('.help-block').remove(); // remove the error text
    	
    	// Ajax validation
        var $fields = $form.find("input");
        var data = collectFormData($fields);

        var validationUrl = "subscribeth.json";
        $.post(validationUrl, data, function(response) {
        	if (response.status == 'FAIL') {
				for (var i = 0; i < response.errorMessageList.length; i++) {
					var item = response.errorMessageList[i];
					var $formGroup = $('#' + item.fieldName + '-form-group');
					$formGroup.addClass('has-error');
					$formGroup.append('<div class="help-block">' + item.message + '</div>');					
				}
			} else {
				$form.unbind('submit');
				$form.submit();
			}
        }, "json");

        e.preventDefault();
        return false;
    });
});
/*]]>*/
</script>
<!-- Container -->
<div class="container">  
	<div>
		<h1 th:text="#{subscription.subscribe}"></h1> 
		
    	<form method="post" id="subscribe-form" name="subscribe-form" role="form" action="#" th:object="${subscription}" th:action="@{/subscribeth}" class="form-horizontal">
		
			<!--/*--> 
			DESIGN NOTE: Server-side, JSR 303 (Bean Validation) annotations based validation errors must be displayed
			without requiring Javascript.
			<!--*/-->
        	<div id="email-form-group" class="form-group has-feedback" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
          		<label for="email" th:text="#{subscription.email}" class="col-xs-2 col-sm-2 control-label">Email: </label>
          		<div class="col-xs-10 col-sm-4">
          			<div class="input-group">
        				<span class="input-group-addon">@</span>
          				<input type="text" class="form-control" th:field="*{email}" th:placeholder="#{subscription.email}"/>    
          			</div>
          			<span class="glyphicon form-control-feedback" th:classappend="${#fields.hasErrors('email')} ? 'glyphicon-remove'"></span>      				   	
      				<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>	     
      				<span class="help-block"></span>		
          		</div>
        	</div>
        	
        	<div class="form-group">
          		<label th:text="#{subscription.type}"  class="col-xs-2 control-label">Type: </label>
          		
          		 <div class="col-xs-10">
            		<div class="radio" th:each="type : ${allTypes}">
              			<input type="radio" th:field="*{subscriptionType}" th:value="${type}" />
              			<label th:for="${#ids.prev('subscriptionType')}" 
                     			th:text="#{'subscriptionType.'+${type}}">First type</label>
            		</div>
            		<div class="radio" th:remove="all"><input type="radio" /> <label>Second Type</label></div>
          		</div>	
        	</div>
        	
        	<div class="form-group">
    			<div class="col-xs-offset-2 col-xs-10">
      				<button type="submit" name="save" class="btn btn-large btn-success" th:text="#{subscription.submit}">Subscribe me!</button>
    			</div>
  			</div>
        		
    	</form>
    	
    </div>
    <footer>
        <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </footer>
</div>
</body>
</html>